name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        env:
          POSTGRES_DB: ecommerce_db_test
          POSTGRES_USER: test_user
          POSTGRES_PASSWORD: test_password
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install schedule pyarrow pytest pytest-cov psycopg2-binary

      - name: Run tests with coverage
        env:
          PYTHONPATH: .
          DB_HOST: localhost
          DB_PORT: 5432
          DB_NAME: ecommerce_db_test
          DB_USER: test_user
          DB_PASSWORD: test_password
          PGPASSWORD: test_password
        run: |
          pytest tests/ -v --cov=scripts --cov-fail-under=70
